GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/challenge-bucket-key.json
GLUSERNAME=
GLTOKEN=
GLREGISTRY=
HELM_CHART_NAME=
HELM_REPO_NAME=
HELM_REPO_URL=
HELM_REPO_USERNAME=
HELM_REPO_PASSWORD=
AMQP_HOSTNAME=rabbitmq.platform.svc.cluster.local
AMQP_USERNAME=
AMQP_PASSWORD=
MONGODB_HOSTNAME=mongodb.platform.svc.cluster.local
MONGODB_USERNAME=
MONGODB_PASSWORD=
BUCKET_NAME=
PLATFORM_USERNAME=test
PLATFORM_PASSWORD=
SMTP_API_KEY=